@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,800;0,900;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: Montserrat;
  background-color: #ccc;
  overflow: hidden;
}
.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  /*transform: translateY(0);*/
  transition: transform 0.5s ease-out; 
  /*overflow: hidden; (switched from jQuery scrollTop to CSS top)*/
  /*scroll-behavior: smooth; (!causes scrollTop not working in iOS!)*/
}
.page {
  /*position: relative;*/
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: grid;
}
.page1 {
  background-color: #74b2d0;
  align-content: center;
  justify-content: center;
}
.page2 {
  background-color: #52b79c;
  align-content: center;
  justify-content: center;
}
.page3 {
  background-color: #db8089;
  align-content: center;
  justify-content: center;
}
.page4 {
  background-color: #9880db;
  align-content: center;
  justify-content: center;
}
.page5 {
  background-color: #aea17a;
  align-content: center;
  justify-content: center;
}
.dummy {
  display: grid;
  margin: auto;
  user-select: none;
}
.slideNum {
  display: block;
  margin: auto;
  font-size: clamp(120px, 35vw, 500px);
  font-weight: 900;
  line-height: 0.2em;
  color: #ffffff40;
  position: relative;
  top: -5vw;
  cursor: pointer;
}
.pgName{
  margin: auto;
  font-size: clamp(40px, 5vw, 100px);
  font-weight: 900;
  position: relative;
  top: 5vh;
  opacity: 0.3;
}
button {
  margin: auto;
  display: inline-block;
  position: relative;
  top: 14vh;
  padding: 15px 25px;
  color: #fff;
  background-color: #0000003b;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 800;
  font-family: inherit;
  transition: all 0.5s;
}
button:hover {
  background-color: #fff;
  color: #2b0b0b;
}
.current {
  width: 100%;
  height: 100%;
  display: grid;
}
.pageNav {
  position: fixed;
  top: 50vh;
  left: 25px;
  transform: translateY(-50%);
}
.pageNav a {
  display: flex;
  background: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  margin-bottom: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.7em;
  opacity: 0.25;
}
.pageNav a:hover {
  opacity: 1;
}
.plinkdesc {
  transition: all 0.3s ease;
  color: #fff;
  white-space: nowrap;
  text-align: left;
  position: relative;
  left: 35px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.pageNav a:hover > .plinkdesc {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.current-bull {
  opacity: 1 !important;
  transform: scale(1.28);
}
.slideNav {
  position: absolute;
  top: calc(50vh - 25px);
  width: 30px;
  height: 50px;
  background-color: #ffffff87;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  transform: scale(0.85);
  opacity: 0.35;
  transition: all 0.3s ease;
  cursor: pointer;
 }
.slideNavR {
  right: 50px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
 }
.slideNavL {
  left: 50px;
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
 }
.slideNav:hover {
  opacity: 1;
  transform: scale(1);
}
.slideDiv {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 0vw;
  width: 100vw;
}
.spslide {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
}
.spslide:nth-of-type(even)  {
  background-color: #ffffff0f;
}
.slideBul {
  position: absolute;
  left: 50vw;
  bottom: 25px;
  transform: translateX(-50%);
}
.slideBul a {
  display: inline-flex;
  background: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 0.7em;
  opacity: 0.25;
}
.slideBul a:hover {
  opacity: 1;
}
.slinkdesc {
  transition: all 0.3s ease;
  color: #fff;
  white-space: nowrap;
  text-align: left;
  position: relative;
  left: 0;
  bottom: 18px;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.slideBul a:hover > .slinkdesc {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.trigCount {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #ffffff87;
  font-size: 0.85em;
}
@media (max-width: 768px){
.plinkdesc, .slinkdesc {
    display: none;
   }
}